@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string title = Model.Title.ToString();
}

@*<h1 class="inline">@Html.ItemDisplayLink(title, contentItem)</h1>*@