@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string title = Model.Title.ToString();
}

<h3 class="inline">@Html.ItemDisplayLink(title, contentItem)</h3>