header {
  display: inline;
}
article.content-item h3 {
  font-size: 18px;
}
article.content-item h2 {
  text-shadow: 2px 2px 2px #333;
}
span.numeric-field span.value {
  color: #bbbbbb;
  font-size: 18px;
}
.inline {
  display: inline;
}
span.date-time-field span.value {
  font-weight: bold;
  color: #aaa;
}
article.console-term header > h1 {
  font-size: 61px;
  color: white;
}
.media-library-picker-field-collection-image .bg {
  text-align: left;
}
.media-library-picker-field-collection-image .bg img {
  position: fixed;
  top: 51px;
  right: 5px;
  width: auto;
  height: 100%;
  z-index: -1;
}
article.content-item h1 {
  text-shadow: 2px 2px 2px #333;
}
article.content-item a {
  background-color: black;
}
